.faq{
    margin-bottom: 80px;
    .faq-box{
        display: flex;
        justify-content: space-evenly;
        gap: 60px;
        color: #444343;
        .faq-title{
            h3{
                padding-left: 50px;
                font-family: 'Unbounded',sans-serif;
                font-size: 50px;
                font-weight: 700;
                line-height: 48px;
                text-align: left;                 
            }
        }
        .faq-itmes{
            max-width: 800px;
            p{
                font-family: "Unbounded", sans-serif;
                font-size: 20px;
                color: #676D83;
                padding: 0 10px 0 10px;
                font-weight: 500;
            }
        }
    }
}
@media(max-width:1100px){
    .faq{
        margin-bottom: 40px;
        .faq-box{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;
            color: #444343;
            width: 100%;
            .faq-title{
                width: 100%;
                text-align: center;
                h3{
                    display: flex;
                    justify-content: center;
                    padding-left: 0px;
                    font-family: 'Unbounded',sans-serif;
                    font-size: 53px;
                    font-weight: 700;
                    line-height: 48px;
                    text-align: center;                 
                }
            }
            .faq-itmes{
                width: 100%;
                p{
                    font-size: 18px;
                    padding: 18px;
                }
            }
        }
    }
}
@media(max-width:530px){
    .faq{
        margin-bottom: 40px;
        .faq-box{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;
            color: #444343;
            width: 100%;
            .faq-title{
                width: 100%;
                text-align: center;
                h3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 0;
                    font-family: 'Unbounded',sans-serif;
                    font-size: 43px;
                    font-weight: 700;
                    line-height: 48px;
                    text-align: center;                 
                }
            }
            .faq-itmes{
                width: 100%;
                p{
                    font-size: 16px;
                    padding: 16px;
                }
            }
        }
    }
}