.nav-button {
    button {
        width: 196px;
        height: 56px;
        border-radius: 20px;
        border: none;
        background-color: var(--main-color);
        ;
    }
    button {
        cursor: pointer;
        font-family: "Unbounded";
        font-size: 18px;
        font-weight: 500;
        color: white;
    }
    button:hover{
        background-color: rgb(18, 62, 158);
    }
}
