.footer{
    border-top: 1px solid gray;
    padding: 30px 0;
    padding-bottom: 20px;
    .footer-box{
        display: flex;
        align-items: center;
        gap: 200px;
        .footer-logo{
            display: flex;
            align-items: center;
            padding-top: 15px;

            img {
                margin-top: 15px;
                height: 60px;
            }

            h4 {
                padding-left: 10px;
                font-family: "Unbounded";
                font-weight: 700;
                font-size: 28px;
                color: var(--main-color);
            }
        }
        .footer-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            .footer-localization-phone{
                display: flex;
                align-items: center;
                gap: 13px;
                svg{
                    padding: 5px;
                    border: 1px solid var(--main-color);
                    border-radius: 5px;
                    color:var(--main-color);
                }
                span{
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 19.09px;
                    color: #242825CC;
                    
                }
            }   
        }
    }
}