.nav {
    padding-top: 30px;
    padding-bottom: 70px;
    position: sticky;
    top: 0px;
    height: 80px;
    background-color: white;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    .nav-box {
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        .nav-logo {
            display: flex;
            align-items: center;
            padding-top: 15px;

            img {
                display: none;
            }

            h4 {
                font-family: "Unbounded";
                font-weight: 700;
                font-size: 32px;
                color: var(--main-color);
            }
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 24px;
            .nav-links_items {
                padding-top: 10px;
                width: 100%;
                list-style: none;
                display: flex;
                align-items: center;
                gap: 40px;
                li {
                    cursor: pointer;
                    font-family: "Sf Regular";
                    font-size: 21px;
                    font-weight: 400px;
                    color: #666666;
                      a:hover{
                        color: rgb(43, 43, 43);
                }
                }
                li:hover{
                    color: rgb(43, 43, 43);
                }
            }

            .nav-select {
                padding-top: 10px;
                padding-right: 30px;
                padding-left: 20px;
                .nav-select_items {
                    cursor: pointer;
                    border: 2px solid rgb(116, 114, 114);
                    border-radius: 5px;
                    padding: 10px 15px;
                    font-size: 18px;
                    font-family: "Unbounded";
                }
                .nav-select_items:hover{
                    background-color: rgb(243, 236, 236);
                }
            }
        }

        .burger-menu {
            display: none;
        }

    }
}
@media (max-width:1100px) {
    .nav {
        .nav-box {
            // width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            .nav-logo {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-top: 15px;

                img {
                    margin-top: 15px;
                    height: 40px;
                    display: none;
                }

                h4 {
                    font-family: "Unbounded";
                    font-weight: 700;
                    font-size: 26px;
                }
            }

            .nav-links {
                // display: none;
                .nav-links_items {
                    display: none;
                }
                .nav-btn{
                    display: none;
                }
                .nav-select{
                    padding-left: 30px;
                }
            }

            .burger-menu {
                display: block;
            }

        }
    }
}
@media (max-width:530px) {
    .nav {
        .nav-box {
            // width: 100%;
            .nav-logo {
                h4 {
                    padding-left: 3px;
                    font-size: 20px;
                }
            }
            .nav-links {
                // display: none;
                .nav-links_items {
                    display: none;
                }
                .nav-btn{
                    display: none;
                }
                .nav-select{
                    padding-left: 20px;
                }
            }
            // .burger-menu{
            //     padding-righit: 0;
            // }
        }
    }
}
@media(max-width:470px){
    .nav {
        display: flex;
        justify-content: center;
        .nav-box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: 40px;
            text-align: center;
            .nav-logo {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-top: 15px;
                img {
                    display: none;
                }
                h4 {
                    font-family: "Unbounded";
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            .nav-links {
                // display: none;
                .nav-links_items {
                    display: none;
                }
                .nav-btn{
                    display: none;
                }
                .nav-select{
                    padding-left: 10px;
                    .nav-select_items {
                        cursor: pointer;
                        border: 2px solid rgb(116, 114, 114);
                        border-radius: 5px;
                        padding: 5px 5px;
                        font-size: 10px;
                        font-family: "Unbounded";
                    }
                }
            }

            .burger-menu {
                display: block;
                position: relative;
            }

        }
    }
}
@media(max-width:345px){
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-box {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            height: 40px;
            text-align: center;
            .nav-logo {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-top: 5px;
                img {
                    display: none;
                }
                h4 {
                    font-family: "Unbounded";
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            .nav-links {
                // display: none;
                display: flex;
                flex-direction: column;
                .nav-links_items {
                    display: none;
                }
                .nav-btn{
                    display: none;
                }
                .nav-select{
                    padding-left: 10px;
                    .nav-select_items {
                        cursor: pointer;
                        border: 2px solid rgb(116, 114, 114);
                        border-radius: 5px;
                        padding: 5px 5px;
                        font-size: 10px;
                        font-family: "Unbounded";
                    }
                }
            }

            .burger-menu {
                display: block;
                position: relative;
            }

        }
    }
}